<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ sertif/public/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ sertif/public/$1 [L]
</IfModule>
